.buttonRadius {
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.3rem;
  background: linear-gradient(90deg, #07b6d5, #3b83f6);
}

.buttonRadius:hover {
  background: linear-gradient(90deg, #3b83f6, #07b6d5);
  border-top-right-radius: 1.3rem;
  border-bottom-left-radius: 1.3rem;
  border-top-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
  transition: 0.7s;
}

.button:hover {
  transform: scale(1.1) ;
  transition: .6s;
}

.skillImg:hover{
  transform: scale(1.2);
  transform: translateY(-10px);
  transition: .7s;
  cursor: pointer;
}
